
<%-include("partials/header")-%>



<h1>Contact</h1>

<p><%=contacts%></p>

<div class="social">
<a href=" ">FAceBOOK</a>
<a href=" ">LInkedIN</a>
<a href=" ">INstagram</a>
</div>

<%-include("partials/footer")-%>
